# ["2008", "2010", "2013", "2014", "2017", "2018", "2020", "2021", "2023", "2026"]
CORE_2008_PATH=/app/data/coreranking/CORE_2008_details.csv
CORE_2010_PATH=/app/data/coreranking/CORE_2010_details.csv
CORE_2013_PATH=/app/data/coreranking/CORE_2013_details.csv
CORE_2014_PATH=/app/data/coreranking/CORE_2014_details.csv
CORE_2017_PATH=/app/data/coreranking/CORE_2017_details.csv
CORE_2018_PATH=/app/data/coreranking/CORE_2018_details.csv
CORE_2020_PATH=/app/data/coreranking/CORE_2020_details.csv
CORE_2021_PATH=/app/data/coreranking/CORE_2021_details.csv
CORE_2023_PATH=/app/data/coreranking/CORE_2023_details.csv
CORE_2026_PATH=/app/data/coreranking/CORE_2026_details.csv

OR_API=https://www.openresearch.org/mediawiki/api.php
OR_USER=Akhilesh
OR_PASS=
OPENROUTER_API_KEY=
OPENAI_API_KEY=
PYTHONPATH="/app/data/OpenResearch:$PYTHONPATH"